APP_ENV=prod
APP_NAME=ms_auth
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=secret
DB_URL=postgresql+asyncpg://postgres:secret@localhost:5432/postgres
SECRET_KEY=secret
ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=1

CELERY_BROKER_URL=pyamqp://mquser:mqpassword@rabbitmq:5672//
REDIS_URL=redis://redis:6379/0

BOT_TOKEN=123456780:XXXX-XXXXXXXX-XXXXXXXXXXXXXXXXXXXXX
CHAT_ID=123456789

SMS_PROVIDER=telegram